@{
    ViewData["Title"] = "Home Page";
}

<h1>Ласкаво просимо до CarRent</h1>
<h3>Автомобілі нашого сервісу:</h3>

<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/images/cars/@car.PhotoPath" class="card-img-top" alt="Car Image">
                <div class="card-body">
                    <h5 class="card-title">Марка авто: @car.Make </h5>
                    <h6 class="card-text">Модель авто: @car.Model </h6>
                    <h6 class="card-text">Ціна аренди на день @car.DailyRate грн</h6>

                    <a href="@Url.Action("Details", "Cars", new { id = car.Id })" class="btn btn-primary">Деталі</a>

                    <a href="@Url.Action("ViewCart", "Cart")" class="btn btn-success">Ваша корзина</a>
                </div>
            </div>
        </div>
    }
</div>